<header class="container-fluid">
  <div class="row">
    <div class="col-md-6 offset-md-3 col-sm-12">
      <img title="Yggdrasil" alt="Yggdrasil" class="mx-auto d-block img-fluid" src="{{ site.baseurl }}/assets/images/yggdrasil.png">
      <p class="text-center tagline"><em>a livecoding tracker for norns</em></p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-10 offset-md-1 col-sm-12 text-center">
      <hr>
      <a href="#" class="btn btn-lg btn-light"><i class="fas fa-download" aria-hidden="true"></i> Direct Download</a>&nbsp;&nbsp;&nbsp;or&nbsp;
      <a href="http://norns.local/maiden/"><img src="{{ site.baseurl }}/assets/images/maiden.png"></a>
    </div>
</div>
</header>