$black: #000000
$white: #FFFFFF
$yellow: #FFFF00
$orange: #F96900
$gradient1: $yellow
$gradient2: lighten($yellow, 30%)

.sans-serif
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif

.monospace
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace

body 
  @extend .sans-serif
  font-size: 1rem
  color: $white
  background: $black

h2
  color: $yellow

p, li
  a, a:link, a:visited
    color: $yellow
    text-decoration: underline

  a:hover, a:active
    color: $white

.text-italic
  font-style: italic

.text-big
  font-size: 2rem

.fas
  color: $black

.container-command
  border: 4px solid $white

  h1
    border-bottom: 1px solid $white

    span
      font-size: 1rem
      color: $yellow 
      letter-spacing: .5rem

  p code
    @extend .variable-animation

@media (max-width: 576px)
  .container-command h1 span
    display: block
    margin-bottom: .5rem

.row-command-body
  ul
    margin: 0
    padding: 0
    list-style: none

  h2
    font-style: italic
    font-size: 1rem
    border-bottom: 1px solid $white
    padding-bottom: .5rem
    color: $white

  .signature,
  .examples
    @extend .text-big
    display: block

    p
      display: inline

    tr td 
      border: none

      code p em
        padding: 0
        @extend .variable-animation

code, pre
  @extend .monospace
  color: $yellow

em
  @extend .monospace
  font-style: normal
  border-radius: 2px
  padding: 2px 8px
  background: $yellow
  color: $black

.text-italic
  font-style: italic

hr
  border-top: 4px $yellow solid

.table
  tr th
    color: $white
    border-top: none

  tr td
    color: $white

.ni
  width: 100px

.btn-light
  background: $white
  border-width: 2px
  
  &:hover
    background: $yellow
    border-color: $white

.w-10
  width: 10%!important

.w-20
  width: 20%!important

.w-40
  width: 40%!important

.mb-10
  margin-bottom: 6rem!important

.three-col 
  columns: 3
  -webkit-columns: 3
  -moz-columns: 3

.variable-animation
  background: linear-gradient(to right, $gradient1 20%,  $gradient2 40%, $gradient1 60%,  $gradient2 80%, $gradient1 100%)
  background-size: 200% auto
  color: $black
  background-clip: text
  text-fill-color: transparent
  -webkit-background-clip: text
  -webkit-text-fill-color: transparent
  animation: variableAnimation 4s linear infinite
  
@-webkit-keyframes variableAnimation
    to
      background-position: 200% center

@-moz-keyframes variableAnimation 
    to
      background-position: 200% center

@-o-keyframes variableAnimation 
    to
      background-position: 200% center

@keyframes variableAnimation 
    to
      background-position: 200% center



.command-icon-abstract
  @extend .monospace
  text-align: center
  width: 100px
  height: 100px
  display: inline-block
  font-size: 2em
  margin-right: 20px
  margin-bottom: 10px
  color: $black
  padding: 5px

.command-icon
  @extend .command-icon-abstract
  background: $white

  i
    padding-top: 40px 
   
  p 
    .phenomenon
      font-style: normal
      font-size: 4rem

.command-icon-long p 
  padding-top: 20px
  
  .phenomenon
    font-size: 3rem !important
  

.command-icon-animated
  @extend .command-icon-abstract
  background: linear-gradient(182deg, lighten($yellow, 20%), $yellow)
  background-size: 400% 400%
  -webkit-animation: phenomenonAnimation 4s ease infinite
  -moz-animation: phenomenonAnimation 4s ease infinite
  -o-animation: phenomenonAnimation 4s ease infinite
  animation: phenomenonAnimation 4s ease infinite

@-webkit-keyframes phenomenonAnimation
    0%
      background-position: 42% 0%
    50%
      background-position: 59% 100%
    100%
      background-position: 42% 0%

@-moz-keyframes phenomenonAnimation 
    0%
      background-position: 42% 0%
    50%
      background-position: 59% 100%
    100%
      background-position: 42% 0%

@-o-keyframes phenomenonAnimation 
    0%
      background-position: 42% 0%
    50%
      background-position: 59% 100%
    100%
      background-position: 42% 0%

@keyframes phenomenonAnimation 
    0%
      background-position: 42% 0%
    50%
      background-position: 59% 100%
    100%
      background-position: 42% 0%