$black: #000000
$white: #FFFFFF
$yellow: #FFFF00

.sans-serif
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif

.monospace
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace

body 
  @extend .sans-serif
  font-size: 1rem
  color: $white
  background: $black

h2
  color: $yellow

p, li
  a, a:link, a:visited
    color: $yellow
    text-decoration: underline

  a:hover, a:active
    color: $white

ul
  list-style: inside
  padding: 0
  
  ul
    padding-left: 20px

code, pre
  @extend .monospace
  color: $yellow

em
  @extend .monospace
  font-style: normal
  border-radius: 2px
  padding: 2px 8px
  background: $yellow
  color: $black

.tagline em
  @extend .sans-serif
  background: $black
  font-style: italic
  color: $white

hr
  border-top: 5px $yellow solid

.table
  tr th
    color: $white
    border-top: none

  tr td
    color: $white

.ni
  width: 100px

.btn-light
  background: $white
  
  &:hover
    background: $yellow

.w-10
  width: 10%!important

.w-20
  width: 20%!important


.w-40
  width: 40%!important
