.sans-serif, body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

.monospace, code, pre, em, .command-icon-abstract, .command-icon, .command-icon-animated {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

body {
  font-size: 1rem;
  color: #FFFFFF;
  background: #000000; }

h2 {
  color: #FFFF00; }

p a, p a:link, p a:visited, li a, li a:link, li a:visited {
  color: #FFFF00;
  text-decoration: underline; }
p a:hover, p a:active, li a:hover, li a:active {
  color: #FFFFFF; }

.text-italic {
  font-style: italic; }

.text-big, .row-command-body .signature,
.row-command-body .examples {
  font-size: 2rem; }

.fas {
  color: #000000; }

.container-command {
  border: 4px solid #FFFFFF; }
  .container-command h1 {
    border-bottom: 1px solid #FFFFFF; }
    .container-command h1 span {
      font-size: 1rem;
      color: #FFFF00;
      letter-spacing: 0.5rem; }

@media (max-width: 576px) {
  .container-command h1 span {
    display: block;
    margin-bottom: 0.5rem; } }
.row-command-body ul {
  margin: 0;
  padding: 0;
  list-style: none; }
.row-command-body h2 {
  font-style: italic;
  font-size: 1rem;
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 0.5rem;
  color: #FFFFFF; }
.row-command-body .signature,
.row-command-body .examples {
  display: block; }
  .row-command-body .signature p,
  .row-command-body .examples p {
    display: inline; }
  .row-command-body .signature tr td,
  .row-command-body .examples tr td {
    border: none; }
    .row-command-body .signature tr td code p em,
    .row-command-body .examples tr td code p em {
      padding: 0; }

code, pre {
  color: #FFFF00; }

em {
  font-style: normal;
  border-radius: 2px;
  padding: 2px 8px;
  background: #FFFF00;
  color: #000000; }

.text-italic {
  font-style: italic; }

hr {
  border-top: 4px #FFFF00 solid; }

.table tr th {
  color: #FFFFFF;
  border-top: none; }
.table tr td {
  color: #FFFFFF; }

.ni {
  width: 100px; }

.btn-light {
  background: #FFFFFF;
  border-width: 2px; }
  .btn-light:hover {
    background: #FFFF00;
    border-color: #FFFFFF; }

.w-10 {
  width: 10% !important; }

.w-20 {
  width: 20% !important; }

.w-40 {
  width: 40% !important; }

.mb-10 {
  margin-bottom: 6rem !important; }

.three-col {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3; }

.variable-animation, .container-command p code, .row-command-body .signature tr td code p em,
.row-command-body .examples tr td code p em {
  background: linear-gradient(to right, #FFFF00 20%, #ffff99 40%, #FFFF00 60%, #ffff99 80%, #FFFF00 100%);
  background-size: 200% auto;
  color: #000000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: variableAnimation 4s linear infinite; }

@-webkit-keyframes variableAnimation {
  to {
    background-position: 200% center; } }
@-moz-keyframes variableAnimation {
  to {
    background-position: 200% center; } }
@-o-keyframes variableAnimation {
  to {
    background-position: 200% center; } }
@keyframes variableAnimation {
  to {
    background-position: 200% center; } }
.command-icon-abstract, .command-icon, .command-icon-animated {
  text-align: center;
  width: 100px;
  height: 100px;
  display: inline-block;
  font-size: 2em;
  margin-right: 20px;
  margin-bottom: 10px;
  color: #000000;
  padding: 5px; }

.command-icon {
  background: #FFFFFF; }
  .command-icon i {
    padding-top: 40px; }
  .command-icon p .phenomenon {
    font-style: normal;
    font-size: 4rem; }

.command-icon-animated {
  background: linear-gradient(182deg, #ffff66, #FFFF00);
  background-size: 400% 400%;
  -webkit-animation: phenomenonAnimation 4s ease infinite;
  -moz-animation: phenomenonAnimation 4s ease infinite;
  -o-animation: phenomenonAnimation 4s ease infinite;
  animation: phenomenonAnimation 4s ease infinite; }

@-webkit-keyframes phenomenonAnimation {
  0% {
    background-position: 42% 0%; }
  50% {
    background-position: 59% 100%; }
  100% {
    background-position: 42% 0%; } }
@-moz-keyframes phenomenonAnimation {
  0% {
    background-position: 42% 0%; }
  50% {
    background-position: 59% 100%; }
  100% {
    background-position: 42% 0%; } }
@-o-keyframes phenomenonAnimation {
  0% {
    background-position: 42% 0%; }
  50% {
    background-position: 59% 100%; }
  100% {
    background-position: 42% 0%; } }
@keyframes phenomenonAnimation {
  0% {
    background-position: 42% 0%; }
  50% {
    background-position: 59% 100%; }
  100% {
    background-position: 42% 0%; } }

/*# sourceMappingURL=style.css.map */
