.sans-serif, body, .table-digest-interactions p {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif; }

.monospace, em, .table-digest-interactions p em, pre, code, .td-code p, .command-icon-abstract, .command-icon, .command-icon-animated {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

body {
  font-size: 1rem;
  color: #FFFFFF;
  background: #000000; }

p {
  font-size: 1rem; }
  p em, .table-digest-interactions p em, p code, p .td-code p, .td-code p p, p pre {
    font-size: 1rem; }

h1 a, h2 a {
  margin-left: 6px;
  font-size: 1rem; }

h2 {
  color: #FFFF00; }

em, .table-digest-interactions p em {
  font-style: normal;
  border-radius: 2px;
  padding: 2px 8px;
  background: #FFFF00;
  color: #000000; }

pre {
  color: #FFFF00;
  font-size: 1rem; }

code, .td-code p {
  font-size: 1rem; }

p a, p a:link, p a:visited, li a, li a:link, li a:visited, code a, .td-code p a, code a:link, .td-code p a:link, code a:visited, .td-code p a:visited, h2 a, h2 a:link, h2 a:visited {
  color: #FFFF00;
  text-decoration: underline; }
p a:hover, p a:active, li a:hover, li a:active, code a:hover, .td-code p a:hover, code a:active, .td-code p a:active, h2 a:hover, h2 a:active {
  color: #FFFFFF;
  text-decoration: none; }

ul {
  list-style: none;
  padding: 0; }
  ul ul {
    list-style: none;
    padding-left: 20px; }

hr {
  border-top: 4px #FFFF00 solid; }

.table tr th {
  color: #FFFFFF;
  border-top: none; }
.table tr td {
  color: #FFFFFF; }

.text-italic {
  font-style: italic; }

.text-big {
  font-size: 32px !important; }

.border-thick, .container-command {
  border: 4px solid #FFFFFF; }

.hr-white {
  border-top: 1px #FFFFFF solid !important;
  margin-top: 0 !important; }

.table-sm .th-content {
  font-style: italic;
  font-weight: 400;
  padding: 0;
  margin: 0;
  font-size: 1rem; }

.td-code p em {
  background: none;
  color: #FFFF00;
  padding: 0; }

@media (min-width: 576px) {
  .td-code p,
  .td-code p em,
  .td-return p,
  .td-return p em {
    font-size: 2rem; } }
.container-command .container-fluid {
  padding: 0; }
.container-command h1 {
  border-bottom: 1px solid #FFFFFF; }
  .container-command h1 span {
    font-size: 1rem;
    color: #FFFF00;
    letter-spacing: 0.5rem; }
.container-command .row-command-body h2 {
  font-style: italic;
  font-size: 1rem;
  border-bottom: 1px solid #FFFFFF;
  padding-bottom: 0.5rem;
  color: #FFFFFF; }
.container-command .row-command-body ul {
  margin: 0;
  padding: 0;
  list-style: none; }
.container-command .row-command-body .signatures,
.container-command .row-command-body .examples {
  display: block; }
  .container-command .row-command-body .signatures p,
  .container-command .row-command-body .examples p {
    display: inline; }
  .container-command .row-command-body .signatures tr td,
  .container-command .row-command-body .examples tr td {
    border: none; }
    .container-command .row-command-body .signatures tr td code p em, .container-command .row-command-body .signatures tr td .td-code p p em, .td-code .container-command .row-command-body .signatures tr td p p em,
    .container-command .row-command-body .examples tr td code p em,
    .container-command .row-command-body .examples tr td .td-code p p em,
    .td-code .container-command .row-command-body .examples tr td p p em {
      padding: 0; }

@media (max-width: 576px) {
  .container-command h1 span {
    display: block;
    margin-bottom: 0.5rem; } }
@media (max-width: 576px) {
  .row-command-body .signatures,
  .row-command-body .examples {
    font-size: 1rem !important; }
  .row-command-body table tr td {
    padding-top: 0;
    padding-right: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0; } }
.table-digest td {
  padding: 2px 0; }
  .table-digest td p {
    margin: 0; }

.table-digest-commands em, .table-digest-commands .table-digest-interactions p em, .table-digest-interactions p .table-digest-commands em {
  padding: 0;
  background: none;
  color: #FFFF00; }
.table-digest-commands .td-code p, .table-digest-commands .td-code em {
  font-size: 1rem !important; }

.table-digest-interactions p {
  font-size: 1rem; }

.img-sidebar-list .img-sidebar {
  width: 100px; }

@media (max-width: 768px) {
  .img-sidebar-list {
    float: left;
    margin-left: 16px;
    margin-top: 16px; } }
.ni {
  width: 100px; }

.fas {
  color: #000000; }

.fas-yellow {
  color: #FFFF00; }

h1 .fas, h2 .fas {
  font-size: 1rem;
  color: #FFFF00;
  padding: 2px;
  border-radius: 2px; }
h1 a:hover .fas, h2 a:hover .fas {
  color: #000000;
  background: #FFFF00; }

.btn-light {
  background: #FFFFFF;
  border-width: 2px; }
  .btn-light:hover {
    background: #FFFF00;
    border-color: #FFFFFF; }

.w-10 {
  width: 10% !important; }

.w-20 {
  width: 20% !important; }

.w-30 {
  width: 30% !important; }

.w-33 {
  width: 33% !important; }

.w-40 {
  width: 40% !important; }

.mb-10 {
  margin-bottom: 6rem !important; }

.three-col {
  columns: 3;
  -webkit-columns: 3;
  -moz-columns: 3; }

.six-col {
  columns: 6;
  -webkit-columns: 6;
  -moz-columns: 6; }

.command-icon-abstract, .command-icon, .command-icon-animated {
  text-align: center;
  width: 100px;
  height: 100px;
  display: block;
  color: #000000;
  padding: 5px; }
  .command-icon-abstract p, .command-icon p, .command-icon-animated p {
    font-size: 2rem; }

@media (max-width: 768px) {
  .command-icon-abstract, .command-icon, .command-icon-animated {
    float: left; } }
.command-icon {
  background: #FFFFFF; }
  .command-icon i {
    padding-top: 40px; }
  .command-icon p .phenomenon {
    font-style: normal;
    font-size: 4rem; }

.command-icon-three p {
  padding-top: 20px; }
  .command-icon-three p .phenomenon {
    font-size: 3rem !important; }

.command-icon-four p {
  padding-top: 30px; }
  .command-icon-four p .phenomenon {
    font-size: 2rem !important; }

.variable-animation, code, .td-code p, .container-command p code, .container-command p .td-code p, .td-code .container-command p p, .container-command .row-command-body .signatures tr td code p em, .container-command .row-command-body .signatures tr td .td-code p p em, .td-code .container-command .row-command-body .signatures tr td p p em,
.container-command .row-command-body .examples tr td code p em,
.container-command .row-command-body .examples tr td .td-code p p em,
.td-code .container-command .row-command-body .examples tr td p p em {
  background: linear-gradient(to right, #FFFF00 20%, #ffff99 40%, #FFFF00 60%, #ffff99 80%, #FFFF00 100%);
  background-size: 200% auto;
  color: #000000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: variableAnimation 4s linear infinite; }

@-webkit-keyframes variableAnimation {
  to {
    background-position: 200% center; } }
@-moz-keyframes variableAnimation {
  to {
    background-position: 200% center; } }
@-o-keyframes variableAnimation {
  to {
    background-position: 200% center; } }
@keyframes variableAnimation {
  to {
    background-position: 200% center; } }
.background-gradient-animation, .command-icon-animated {
  background: linear-gradient(182deg, #ffff66, #FFFF00);
  background-size: 400% 400%;
  -webkit-animation: phenomenonAnimation 4s ease infinite;
  -moz-animation: phenomenonAnimation 4s ease infinite;
  -o-animation: phenomenonAnimation 4s ease infinite;
  animation: phenomenonAnimation 4s ease infinite; }

@-webkit-keyframes phenomenonAnimation {
  0% {
    background-position: 42% 0%; }
  50% {
    background-position: 59% 100%; }
  100% {
    background-position: 42% 0%; } }
@-moz-keyframes phenomenonAnimation {
  0% {
    background-position: 42% 0%; }
  50% {
    background-position: 59% 100%; }
  100% {
    background-position: 42% 0%; } }
@-o-keyframes phenomenonAnimation {
  0% {
    background-position: 42% 0%; }
  50% {
    background-position: 59% 100%; }
  100% {
    background-position: 42% 0%; } }
@keyframes phenomenonAnimation {
  0% {
    background-position: 42% 0%; }
  50% {
    background-position: 59% 100%; }
  100% {
    background-position: 42% 0%; } }

/*# sourceMappingURL=style.css.map */
