---
layout: default
---
<div class="row">
  <div class="col-md-10 offset-md-1 col-sm-12">
    <hr>
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <h1 class="my-5">Setup</h1>
        <p>Plug in a US-ANSI keyboard.</p>
        <p>You're ready.<p>
      </div>
      <div class="col-md-3 col-sm-12">
        <h1 class="my-5">Contents</h1>
        <ul>
          <li><a href="#abstract">Abstract</a></li>
          <li><a href="#musical">Musical Commands</a>
          <li><a href="#core">Core Commands</a>
          <li><a href="#view">View Commands</a>
          <li><a href="#utility">UtilityCommands</a>
          <li><a href="#normal-interactions">Interactions</a></li>
          <li><a href="#y-mode-interactions">Y Mode Interactions</a></li>
          <li><a href="#command-index">Command Index</a></li>
          <li><a href="#learn">Learn</a></li>
          <li><a href="#philosophy">Philosophy</a></li>
        </ul>
      </div>
      <div class="col-md-6 col-sm-12">
        <img title="norns" alt="norns" class="mx-auto d-block img-fluid" src="{{ site.baseurl }}/assets/images/norns.png">
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10 offset-md-1 col-sm-12">
    <hr>
    <h1 id="abstract" class="my-5">Abstract</h1>
      <p>Yggdrasil is a <a href="https://monome.org/docs/norns/">norns</a> cyberdeck <a href="https://en.wikipedia.org/wiki/Music_tracker">tracker</a>. Yggdrasil is an instrument designed to be performed with a keyboard only. Capital letters are not welcome here and modifier keys are used sparingly. There are <a href="#normal-mode-interaction-y-mode-toggle">two input modes</a>: normal and <code>Y Mode</code>. The <code>;</code> character is under the little finger: economic, ergonomic, exegesis. "Slots" are the nucleic acids of Yggdrasil, while "commands" and "interactions" are the twin helixes of the human-machine interface.</p>
      <p>Slots are the building blocks of the tracker. Slots are stacked into tracks of different heights, like so many stalactites reaching into the terminal darkness below. Slots contain single notes (and associated information like velocity), exotic phenomenon, or nothingness. Some of the exotic phenomena include randomizers, "goto" events, and direction toggles. Slots are neurotically focused on their endless descent. They fret not about the tangled complexities of their "row" or other the happenings in other tracks.</p>
      <p>Commands are built from the letters, numbers, and symbols that appear in the terminal as you type. Typically, commands will do things like change notes, control playback, or adjust tempo. Yet other commands will let you copy entire tracks, route notes to different MIDI channels, or even create musical patterns. Commands that start with two numbers operate on a single slot. These first two numbers correspond to the X and Y coordinates of the slot. Commands that start with a single number operate on an entire track. All commands are executed with the <em>&crarr;</em> / <em>return</em> / <em>enter</em> key.</p>
      <p>Interactions are simply "everything else" you do with the keyboard. While some interactions technically manipulate sound under certain conditions (such as <em>backspace</em> to delete), most are simply affordances for navigation &mdash; things like toggling views, dismissing messages, or paging through through command history.</p>
      <p>Slots are those for whom this bell tolls.</p>
      <p>Command fluency is the path to the trance.
      <p>Interactions, our silent movements through Yggdrasil's data streams.</p>
      <p>Let's go.</p>
  </div>
</div>

{% assign commands = site.commands | sort: "weight" | where: "category", "musical" %}
{% assign title = "Musical" %}
{% include commands.html %}

{% assign commands = site.commands | sort: "weight" | where: "category", "core" %}
{% assign title = "Core" %}
{% include commands.html %}

{% assign commands = site.commands | sort: "weight" | where: "category", "view" %}
{% assign title = "View" %}
{% include commands.html %}

{% assign commands = site.commands | sort: "weight" | where: "category", "utility" %}
{% assign title = "Utility" %}
{% include commands.html %}


<div class="row">
  <div class="col-md-10 offset-md-1 col-sm-12">
    <hr>
    <h1 id="normal-interactions" class="my-5">Normal Interactions</h1>
    {% assign interactions = site.interactions | sort: "weight" | where: "mode", "normal" %}
    {% include interactions.html %}
    <h1 id="y-mode-interactions" class="my-5">Y Mode Interactions</h1>
    {% assign interactions = site.interactions | sort: "weight" | where: "mode", "y" %}
    {% include interactions.html %}
  </div>
</div>

<div class="row">
  <div class="col-md-10 offset-md-1 col-sm-12">
    <hr>
    <h1 id="command-index" class="my-5">Command Index</h1>
    <ul class="three-col mb-5">
    {% assign commands = site.commands | sort: "name" %}
    {% for command in commands %}
      <li><a href="{{ command.category | downcase }}-command-{{ command.name | downcase | replace: " ", "-" }}">{{ command.name }}</a></li>
    {% endfor %}
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-10 offset-md-1 col-sm-12">
    <hr>
    <h1 id="learn" class="my-5">Learn</h1>
    <p></p>
  </div>
</div>

<div class="row">
  <div class="col-md-10 offset-md-1 col-sm-12">
    <hr>
    <h1 id="philosophy" class="my-5">Philosophy</h1>
    <img title="{{ site.yggdrasil }}" alt="{{ site.yggdrasil }}"  class="mx-auto d-block img-fluid" src="{{ site.baseurl }}/assets/images/R1-07348-0017.jpg">
  </div>
</div>
